---

- block: 
  ### <POD> kind

  - name: Get client pod status
    k8s_facts:
      kind: Pod
      api_version: v1
      namespace: '{{ operator_namespace }}'
      label_selectors:
        - app = uperf-bench-client-{{ trunc_uuid }}
    register: client_pods

  - name: Update resource state
    operator_sdk.util.k8s_status:
      api_version: ripsaw.cloudbulldozer.io/v1alpha1
      kind: Benchmark
      name: "{{ ansible_operator_meta.name }}"
      namespace: "{{ operator_namespace }}"
      status:
        state: Clients Running
    when: "num_server_pods|int == client_pods | json_query('resources[].status[]')|selectattr('phase','match','Running')|list|length and num_server_pods|int == (client_pods | json_query('resources[].status.podIP')|length)"

  when: resource_kind == "pod"

- block:
  ### <VM> kind

  - name: set complete to false
    command: "redis-cli set complete-{{ trunc_uuid }} false"

  - name: Get count of clients ready
    command: "redis-cli get clients-{{ trunc_uuid }}"
    register: clients_ready_count

  - name: Update resource state
    operator_sdk.util.k8s_status:
      api_version: ripsaw.cloudbulldozer.io/v1alpha1
      kind: Benchmark
      name: "{{ ansible_operator_meta.name }}"
      namespace: "{{ operator_namespace }}"
      status:
        state: Clients Running
    when: "workload_args.pair|default('1')|int == clients_ready_count.stdout|int"

  when: resource_kind == "vm"

