- hosts: localhost
  gather_facts: no
  tasks:

  - name: Get state
    k8s_facts:
      api_version: ripsaw.cloudbulldozer.io/v1alpha1
      kind: Benchmark
      name: '{{ meta.name }}'
      namespace: '{{ operator_namespace }}'
    register: cr_state

  - name: Capture operator information
    k8s_facts:
      kind: Pod
      api_version: v1
      namespace: "{{ operator_namespace }}"
      label_selectors:
        - name = benchmark-operator
    register: bo

  - debug:
      msg: "{{ cr_state }}"

  - name: Set Workload UUID
    block:
    - include_role:
        name: "uuid"

    - name: Setting the uuid for the benchmark
      k8s_status:
        api_version: ripsaw.cloudbulldozer.io/v1alpha1
        kind: Benchmark
        name: "{{ meta.name }}"
        namespace: "{{ operator_namespace }}"
        status:
          uuid: "{{ uuid }}"
          complete: false
          suuid: "{{ trunc_uuid }}"
          metadata: "not collected"

    when: workload is defined and cr_state.resources[0].status is not defined

  - name: Run Workload
    block:

    - set_fact:
        uuid: "{{ cr_state.resources[0].status.uuid }}"
        trunc_uuid: "{{ cr_state.resources[0].status.suuid }}"
    
    - block:
      
      - include_role:
          name: backpack
        when: metadata is defined and not metadata.targeted | default('true') | bool

      - k8s_status:
          api_version: ripsaw.cloudbulldozer.io/v1alpha1
          kind: Benchmark
          name: "{{ meta.name }}"
          namespace: "{{ operator_namespace }}"
          status:
            metadata: "Collecting"
        when: metadata is defined and metadata.targeted | default('true') | bool and not cr_state.resources[0].status.state is defined
    
      when: metadata is defined and metadata.collection | default('false') | bool and (cr_state.resources[0].status.metadata is defined and cr_state.resources[0].status.metadata != "Complete")

    - block:

      - include_role:
          name: "uperf-bench"
        vars:
          uperf: "{{ workload.args }}"
        when: workload.name == "uperf"  and workload.args.pair > 0

      - include_role:
          name: "iperf3-bench"
        vars:
          iperf3: "{{ workload.args }}"
        when: workload.name == "iperf3" and workload.args.pairs > 0

      - include_role:
          name: sysbench
        vars:
          sysbench : "{{ workload.args }}"
        when: workload.name == "sysbench" and workload.args.enabled is defined and workload.args.enabled

      - include_role:
          name: "load-ycsb"
        vars:
          ycsb: "{{ workload.args }}"
        when: workload.name == "ycsb" and workload.args.workloads | length > 0

      - include_role:
          name: "ycsb-bench"
        vars:
          ycsb: "{{ workload.args }}"
        with_items: '{{ workload.args.workloads }}'
        when: workload.name == "ycsb" and workload.args.workloads | length > 0

      - include_role:
          name: "byowl"
        vars:
          byowl: "{{ workload.args }}"
        when: workload.name == "byowl" and workload.args.clients > 0

      - include_role:
          name: "fio-distributed"
        vars:
          fiod: "{{ workload.args }}"
        when: workload.name == "fio_distributed" and workload.args.servers > 0

      - include_role:
          name: "pgbench"
        vars:
          pgbench: "{{ workload.args }}"
        when: workload.name == "pgbench" and workload.args.clients > 0

      - include_role:
          name: "smallfile-bench"
        vars:
          smallfile: "{{ workload.args }}"
        when: workload.name == "smallfile" and workload.args.clients > 0

      - include_role:
          name: "fs-drift"
        vars:
          fs_drift: "{{ workload.args }}"
        when: workload.name == "fs-drift" and workload.args.worker_pods > 0

      - include_role:
          name: "hammerdb"
        vars:
          hammerdb: "{{ workload.args }}"
        when: workload.name == "hammerdb" 

      when: metadata is not defined or not metadata.collection | default('false') | bool or (cr_state.resources[0].status.metadata is defined and cr_state.resources[0].status.metadata == "Complete") or metadata.targeted | default('true') | bool
    
    when: cr_state is defined and cr_state.resources[0].status is defined and not cr_state.resources[0].status.complete|bool
