- hosts: localhost
  gather_facts: no
  tasks:
  - include_role:
      name: "uperf-bench"
    when: uperf is defined and uperf.pair > 0
  - include_role:
      name: "couchbase-infra"
    when: couchbase is defined and couchbase.servers.size > 0
  - include_role:
      name: "fio-bench"
    when: fio is defined and fio.clients > 0
  - include_role:
      name: "ycsb-bench"
    when: ycsb is defined and ycsb.workers > 0
