---
- name: setting ycsb_workload var
  set_fact:
    ycsb_workload: "workloada"

- name: Generate workloads
  k8s:
    definition: "{{ lookup('template', 'configmap.yml.j2') | from_yaml }}"

- name: Load Data Into Database
  k8s:
    definition:
      kind: Job
      apiVersion: batch/v1
      metadata:
        name: 'ycsb-data-load-job-{{ ycsb_workload }}-{{ trunc_uuid }}'
        namespace: '{{ operator_namespace }}'
      spec:
        template:
          metadata:
            name: '{{ meta.name }}-ycsb-data-load'
            namespace: '{{ operator_namespace }}'
            labels:
             name: 'ycsb-load-{{ trunc_uuid }}'
          spec:
            containers:
            - name: ycsb
              image: "quay.io/cloud-bulldozer/ycsb-server@sha256:140f1f03be09314a5da547832f9310cd5f77f4d37e72d039bca1d408d5ce8725"
              imagePullPolicy: Always
              env:
              - name: clustername
                value: "{{ clustername }}"
              - name: es
                value: "{{elasticsearch.server | default()}}"
              - name: es_port
                value: "{{elasticsearch.port | default()}}"
              - name: es_index
                value: "{{ es_index }}"
              - name: user
                value: "{{test_user | default()}}"
              - name: workload
                value: "{{ycsb_workload}}"
              - name: num_records
                value: "{{ycsb.recordcount}}"
              - name: num_operations
                value: "{{ycsb.operationcount}}"
              - name: uuid
                value: "{{uuid}}"
              imagePullPolicy: Always
              command: ["/bin/sh", "-c"]
              args: ["python /opt/snafu/run_snafu.py --tool ycsb -r 1 -l -d {{ ycsb.driver }} -u {{ uuid }} --user {{ test_user | default(\"ripsaw\") }} -w {{ ycsb_workload }} -x \"{{ ycsb.options_load }}\""]
              volumeMounts:
                - name: config-volume
                  mountPath: "/tmp/ycsb"
            restartPolicy: Never
            volumes:
            - name: config-volume
              configMap:
                name: ycsb-test-{{ trunc_uuid }}
        backoffLimit: 4

- name: Wait for Load Job to Succeed...
  k8s_facts:
    kind: Job
    api_version: batch/v1
    name: 'ycsb-data-load-job-{{ ycsb_workload }}-{{ trunc_uuid }}'
    namespace: "{{ operator_namespace }}"
    label_selectors:
      - name = 'ycsb-load-{{ trunc_uuid }}'
  register: ycsb_load_pod
  until: "ycsb_load_pod | json_query('resources[].status.succeeded')"
  retries: 1000
  delay: 20
