---
kind: Job
apiVersion: batch/v1
metadata:
  name: 'ycsb-bench-job-{{ ycsb_workload }}-{{ trunc_uuid }}'
  namespace: '{{ operator_namespace }}'
spec:
  template:
    metadata:
      name: '{{ meta.name }}-ycsb-bench'
      namespace: '{{ operator_namespace }}'
      labels:
        name: 'ycsb-run-{{ trunc_uuid }}'
    spec:
      containers:
      - name: ycsb
        image: "{{ workload_args.image | default('quay.io/cloud-bulldozer/ycsb-server:latest') }}"
        imagePullPolicy: Always
        env:
        - name: clustername
          value: "{{ clustername }}"
        - name: user
          value: "{{ test_user | default() }}"
        - name: workload
          value: "{{ ycsb_workload }}"
        - name: num_records
          value: "{{ workload_args.recordcount }}"
        - name: num_operations
          value: "{{ workload_args.operationcount }}"
        - name: uuid
          value: "{{ uuid }}"
{% if elasticsearch is defined %}
        - name: es
          value: "{{ elasticsearch.server }}"
        - name: es_port
          value: "{{ elasticsearch.port }}"
        - name: es_index
          value: "{{ elasticsearch.index_name | default("ripsaw-ycsb") }}"
        - name: es_verify_cert
          value: "{{ elasticsearch.cert_verify | default("true") }}"
        - name: parallel
          value: "{{ elasticsearch.parallel | default("false") }}"
{% endif %}
{% if prometheus is defined %}
        - name: prom_es
          value: "{{ prometheus.server }}"
        - name: prom_port
          value: "{{ prometheus.port }}"
        - name: prom_parallel
          value: "{{ prometheus.parallel | default("false") }}"
        - name: prom_token
          value: "{{ prometheus.prom_token | default() }}"
        - name: prom_url
          value: "{{ prometheus.prom_url | default() }}"
        imagePullPolicy: Always
        command: ["/bin/sh", "-c"]
        args: ['run_snafu --tool ycsb -r 1 -d {{ workload_args.driver }} -w {{ ycsb_workload }} -u {{ uuid }} --user {{ test_user | default("ripsaw") }} -x "{{ workload_args.options_run }}"']
        volumeMounts:
          - name: config-volume
            mountPath: "/tmp/ycsb"
{% if workload_args.pin_node is sameas true %}
      nodeSelector:
        kubernetes.io/hostname: '{{ workload_args.pin_node }}'
{% endif %}
      restartPolicy: Never
      volumes:
        - name: config-volume
          configMap:
            name: ycsb-test-{{ trunc_uuid }}
{% include "metadata.yml.j2" %}
