---
apiVersion: batch/v1
kind: Job
metadata:
  name: 'api-load-{{ trunc_uuid }}'
  namespace: '{{ operator_namespace }}'
spec:
  backoffLimit: 0
  activeDeadlineSeconds: {{ workload_args.job_timeout|default(3600) }}
  parallelism: {{ workload_args.pod_count | default(1) | int }}
  template:
    metadata:
      labels:
        app: api-load-{{ trunc_uuid }}
        benchmark-uuid: {{ uuid }}
{% if workload_args.annotations is defined %}
      annotations:
{% for annotation, value in workload_args.annotations.items() %}
        "{{annotation}}": "{{value}}"
{% endfor %}
{% endif %}
    spec:
{% if workload_args.runtime_class is defined %}
      runtimeClassName: "{{ workload_args.runtime_class }}"
{% endif %}
{% if workload_args.tolerations is defined %}
      tolerations:
      - key: {{ workload_args.tolerations.key }}
        value: {{ workload_args.tolerations.value }}
        effect: {{ workload_args.tolerations.effect }}
{% endif %}
{% if workload_args.label is defined %}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: {{ workload_args.label.key }}
                operator: In
                values:
                - {{ workload_args.label.value }}
{% endif %}
      containers:
      - image: {{ workload_args.image | default('quay.io/cloud-bulldozer/ocm-api-load:latest') }}
        name: pull-image
        env:
          - name: my_node_name
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: my_pod_name
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: uuid
            value: "{{ uuid }}"
{% if elasticsearch is defined %}
          - name: es
            value: "{{ elasticsearch.url }}"
          - name: es_index
            value: "{{ elasticsearch.index_name | default("api-load") }}"
          - name: es_verify_cert
            value: "{{ elasticsearch.verify_cert | default(true) }}"
          - name: parallel
            value: "{{ elasticsearch.parallel | default(false) }}"
{% endif %}
        command: ["/bin/sh", "-c"]
        args:
          - >
{% for key, value in workload_args.test_list.items() %}
            ocm-load-test
{% if workload_args.override is defined %}
            {{ workload_args.override }}
{% else %}
            --test-id={{ uuid }}
            --gateway-url {{ workload_args.gateway_url }}
            --ocm-token={{ workload_args.ocm_token }}
{% if value.duration is defined %}
            --duration={{ value.duration}}
{% else %}
            --duration={{ workload_args.duration}}
{% endif %}
{% if value.rate is defined %}
            --rate={{ value.rate}}
{% else %}
            --rate={{ workload_args.rate}}
{% endif %}
            --output-path={{ workload_args.output_path}}
            --test-names {{ key }}
            --aws-access-key {{ workload_args.aws_access_key }}
            --aws-access-secret {{ workload_args.aws_access_secret }}
            --aws-account-id {{ workload_args.aws_account_id }};
            echo "Cooldown for {{ workload_args.cooldown }}";
            sleep {{ workload_args.cooldown }};
{% endif %}
{% endfor %}
        volumeMounts:
          - mountPath: /tmp/results
            name: results
      volumes:
        - name: results
          hostDisk:
            path: /tmp/results
            capacity: 10Gi
            type: DiskOrCreate
      imagePullPolicy: Always
      restartPolicy: Never
{% include "metadata.yml.j2" %}
