---
kind: Job
apiVersion: batch/v1
metadata:
  name: 'fio-client-{{ trunc_uuid }}'
  namespace: '{{ operator_namespace }}'
spec:
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        app: fiod-client-{{ trunc_uuid }}
    spec:
{% if workload_args.runtime_class is defined %}
      runtimeClassName: "{{ workload_args.runtime_class }}"
{% endif %}
      containers:
      - name: fio-client
        image: {{ workload_args.image | default('quay.io/cloud-bulldozer/fio:latest') }}
        imagePullPolicy: Always
        env:
          - name: uuid
            value: "{{ uuid }}"
          - name: test_user
            value: "{{ test_user | default("ripsaw") }}"
          - name: clustername
            value: "{{ clustername }}"
          - name: ceph_cache_drop_pod_ip
            value: "{{ workload_args.rook_ceph_drop_cache_pod_ip | default() }}"
          - name: kcache_drop_pod_ips
            value: "{{ kcache_drop_pod_ips | default() }}"
{% if elasticsearch is defined %}
          - name: es
            value: "{{ elasticsearch.server }}"
          - name: es_port
            value: "{{ elasticsearch.port }}"
          - name: es_index
            value: "{{ elasticsearch.index_name | default("ripsaw-fio") }}"
          - name: es_verify_cert
            value: "{{ elasticsearch.cert_verify | default("true") }}"
          - name: parallel
            value: "{{ elasticsearch.parallel | default("false") }}"
{% endif %}
{% if prometheus is defined %}
          - name: prom_es
            value: "{{ prometheus.server }}"
          - name: prom_port
            value: "{{ prometheus.port }}"
          - name: prom_parallel
            value: "{{ prometheus.parallel | default("false") }}"
          - name: prom_token
            value: "{{ prometheus.prom_token | default() }}"
          - name: prom_url
            value: "{{ prometheus.prom_url | default() }}"
{% endif %}
        command: ["/bin/sh", "-c"]
        args:
          - "cat /tmp/host/hosts;
{% if workload_args.prefill is defined and workload_args.prefill is sameas true %}
             echo ***************Prefill*****************;
             cat /tmp/fio/fiojob-prefill;
             mkdir -p /tmp/fiod-{{ uuid }}/fiojob-prefill;
             fio --client=/tmp/host/hosts /tmp/fio/fiojob-prefill --output-format=json;
{% if workload_args.post_prefill_sleep is defined %}
             sleep {{ workload_args.post_prefill_sleep }};
{% endif %}
             echo ***********End of Prefill*************;
{% endif %}
{% if workload_args.bsrange is defined %}
{% set loopvar = workload_args.bsrange %}
{% elif workload_args.bs is defined %}
{% set loopvar = workload_args.bs %}
{% endif %}
{% for numjobs in workload_args.numjobs %}
{% for i in loopvar %}
{% for job in workload_args.jobs %}
             cat /tmp/fio/fiojob-{{job}}-{{i}}-{{numjobs}}; mkdir -p /tmp/fiod-{{uuid}}/fiojob-{{job}}-{{i}}-{{numjobs}}; run_snafu -t fio -H /tmp/host/hosts -j /tmp/fio/fiojob-{{job}}-{{i}}-{{numjobs}} -s {{workload_args.samples}} -d /tmp/fiod-{{ uuid }}/fiojob-{{job}}-{{i}}-{{numjobs}};
{% endfor %}
{% endfor %}
{% endfor %}
             echo run finished"
        volumeMounts:
        - name: fio-volume
          mountPath: "/tmp/fio"
        - name: host-volume
          mountPath: "/tmp/host"
      volumes:
      - name: fio-volume
        configMap:
          name: "fio-test-{{ trunc_uuid }}"
          defaultMode: 0777
      - name: host-volume
        configMap:
          name: "fio-hosts-{{ trunc_uuid }}"
          defaultMode: 0777
      restartPolicy: Never
{% include "metadata.yml.j2" %}
