---
kind: Job
apiVersion: batch/v1
metadata:
  name: 'fio-client-{{ trunc_uuid }}'
  namespace: '{{ operator_namespace }}'
spec:
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        app: fiod-client-{{ trunc_uuid }}
    spec:
      containers:
      - name: fio-client
        image: "quay.io/cloud-bulldozer/fio:latest"
        imagePullPolicy: Always
        env:
          - name: uuid
            value: "{{ uuid }}"
          - name: test_user
            value: "{{ test_user }}"
          - name: clustername
            value: "{{ clustername }}"
{% if es_server %}
          - name: es
            value: "{{ es_server }}"
          - name: es_port
            value: "{{ es_port }}"
          - name: es_index
            value: "{{ es_index }}"
{% endif %}
        command: ["/bin/sh", "-c"]
        args:
          - "cat /tmp/host/hosts;
             for file in $(ls /tmp/fio/ | egrep ^fiojob); do
               cat /tmp/fio/$file;
               mkdir -p /tmp/fiod-{{ uuid }}/$file;
               python /opt/snafu/fio_wrapper/fio_wrapper.py /tmp/host/hosts /tmp/fio/$file -s {{fiod.samples}} -d /tmp/fiod-{{ uuid }}/$file;
             done;"
        volumeMounts:
        - name: fio-volume
          mountPath: "/tmp/fio"
        - name: host-volume
          mountPath: "/tmp/host"
      volumes:
      - name: fio-volume
        configMap:
          name: "fio-test-{{ trunc_uuid }}"
          defaultMode: 0777
      - name: host-volume
        configMap:
          name: "fio-hosts-{{ trunc_uuid }}"
          defaultMode: 0777
      restartPolicy: Never
