---
- block:

  - name: Add oslat test scripts
    k8s:
      definition:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: '{{ ansible_operator_meta.name }}-workload-{{ trunc_uuid }}'
          namespace: '{{ operator_namespace }}'
        data:
          oslat.sh: "{{ lookup('file', 'oslat.sh') }}"
          functions.sh: "{{ lookup('file', 'functions.sh') }}"

  - name: Start cyclitest job
    k8s:
      state: present
      definition: "{{ lookup('template', 'oslatjob.yaml') | from_yaml }}"

  - operator_sdk.util.k8s_status:
      api_version: ripsaw.cloudbulldozer.io/v1alpha1
      kind: Benchmark
      name: "{{ ansible_operator_meta.name }}"
      namespace: "{{ operator_namespace }}"
      status:
        state: Running
        complete: false

  when: benchmark_state.resources[0].status.state == "Building" 

- include_role:
    name: benchmark_state
    tasks_from: completed.yml
  when: benchmark_state.resources[0].status.state == "Running"
