apiVersion: ripsaw.cloudbulldozer.io/v1alpha1
kind: Benchmark
metadata:
  name: testpmd-benchmark
  namespace: benchmark-operator
spec:
  clustername: myk8scluster
  workload:
    name: testpmd
    args:
      privileged: true
      pin: false
      pin_testpmd: "node-0"      
      pin_trex: "node-0"      
      networks:
        testpmd:
          - name: testpmd-sriov-network
            count: 2
        trex:
          - name: testpmd-sriov-network
            count: 2

