---

apiVersion: batch/v1
kind: "job"
metadata:
  name: "sysbench-{{ trunc_uuid }}"
  namespace: "{{ operator_namespace }}"
spec:
  backoffLimit: 0
  activeDeadlineSeconds: {{ workload_args.job_timeout|default(3600) }}
  template:
    metadata:
      labels:
       app: sysbench-{{ trunc_uuid }}
       benchmark-uuid: {{ uuid }}
    spec:
{% if workload_args.runtime_class is defined %}
      runtimeClassName: "{{ workload_args.runtime_class }}"
{% endif %}
      containers:
      - name: sysbench
        command: ["/bin/sh", "-c"]
        args: ["cd /opt/sysbench && /tmp/sysbenchScript"]
        image: {{ workload_args.image | default('quay.io/cloud-bulldozer/sysbench:latest') }}
        imagePullPolicy: Always
        volumeMounts:
        - name: sysbench-volume
          mountPath: "/tmp/"
        - name: sysbench-runtime
          mountPath: "/opt/sysbench"
      volumes:
      - name: sysbench-runtime
        emptyDir: {}
      - name: sysbench-volume
        configMap:
          name: "sysbench-config-{{ trunc_uuid }}"
          defaultMode: 0777
      restartPolicy: OnFailure
{% include "metadata.yml.j2" %}
