---

apiVersion: batch/v1
kind: "job"
metadata:
  name: "sysbench-{{ trunc_uuid }}"
  namespace: "{{ operator_namespace }}"
spec:
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
       app: sysbench-{{ trunc_uuid }}
    spec:
      containers:
      - name: sysbench
        command: ["/bin/sh", "-c"]
        args: ["/tmp/sysbenchScript"]
        image: "quay.io/cloud-bulldozer/sysbench:latest"
        imagePullPolicy: Always
        volumeMounts:
        - name: sysbench-volume
          mountPath: "/tmp/"
      volumes:
      - name: sysbench-volume
        configMap:
          name: "sysbench-config-{{ trunc_uuid }}"
          defaultMode: 0777
      restartPolicy: OnFailure
{% if metadata_collection|default(false) is sameas true and metadata_targeted|default(true) is sameas true %}
      initContainers:
      - name: backpack-{{ trunc_uuid }}
        image: quay.io/cloud-bulldozer/backpack:latest
        command: ["/bin/sh", "-c"]
        args: ["python3 stockpile-wrapper.py -s {{ elasticsearch.server }} -p {{ elasticsearch.port }} -u {{ uuid }} -n $my_node_name -N $my_pod_name"]
        imagePullPolicy: Always
        securityContext:
          privileged: {{ metadata_privileged | default(false) | bool }}
        env:
          - name: my_node_name
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: my_pod_name
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
      serviceAccountName: {{ metadata_sa | default('default') }}
{% endif %}
