---
- block:

  - set_fact:
      fs_drift_path: /tmp
    when: workload_args.worker_pods|default('1')|int > 0 and workload_args.storageclass is not defined

  - set_fact:
      fs_drift_path: /mnt/pvc
    when: workload_args.worker_pods|default('1')|int > 0 and workload_args.storageclass is defined

  - name: Create PVCs
    k8s:
      definition:
        kind: PersistentVolumeClaim
        apiVersion: v1
        metadata:
          name: "fs-drift-claim-{{ trunc_uuid }}-{{ item }}"
          namespace: "{{ operator_namespace }}"
          annotations:
            volume.beta.kubernetes.io/storage-class: "{{workload_args.storageclass}}"
        spec:
          accessModes:
            - "{{ workload_args.access_mode }}"
          storageClassName: "{{ workload_args.storageclass }}"
          resources:
            requests:
              storage: "{{workload_args.storagesize}}"
    with_sequence: start=1 count={{ workload_args.worker_pods|default('1')|int }}
    when: workload_args.worker_pods|default('1')|int > 0 and workload_args.storageclass is defined and workload_args.storagesize is defined

  - name: Generate fs-drift test input yaml
    k8s:
      definition:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          namespace: "{{ operator_namespace }}"
          name: fs-drift-test-{{ trunc_uuid }}
        data:
          params: "{{ lookup('template', 'other_parameters.yaml.j2') }}"
          subscriber: "{{ lookup('template', 'subscriber.py.j2') }}"
          publisher: "{{ lookup('template', 'publisher.py.j2') }}"


  - name: Run PUBLISHER Pod
    k8s:
      definition:
        kind: Job
        apiVersion: batch/v1
        metadata:
          name: "{{ ansible_operator_meta.name }}-fs-drift-publisher-{{ trunc_uuid }}"
          namespace: "{{ operator_namespace }}"
        spec:
          ttlSecondsAfterFinished: 600
          template:
            metadata:
              labels:
                app: fs-drift-publisher
            spec:
              containers:
                - name: publisher-container
                  image: "{{ workload_args.image | default('quay.io/cloud-bulldozer/fs-drift:latest') }}"
                  tty: true
                  command: ["/bin/sh", "-c"]
                  workingDir: /root/fs-drift-master/
                  args:
                    - python /tmp/publisher {{bo.resources[0].status.podIP}} {{workload_args.worker_pods|default('1')|int}} {{ trunc_uuid }}
                  volumeMounts:
                    - name: config-volume
                      mountPath: "/tmp"
              volumes:
                - name: config-volume
                  configMap:
                    name: fs-drift-test-{{ trunc_uuid }}
                    defaultmode: 0777
              restartPolicy: Never

  - name: run the workload
    k8s:
      definition: "{{ lookup('template', 'workload_job.yml.j2') }}"
    with_sequence: start=1 count={{workload_args.worker_pods|default('1')|int}}
    when: workload_args.worker_pods|default('1')|int > 0

  - include_role:
      name: benchmark_state
      tasks_from: set_state
    vars:
      state: Running

  when: benchmark_state.resources[0].status.state == "Building"

- include_role:
    name: benchmark_state
    tasks_from: completed.yml
  when: benchmark_state.resources[0].status.state == "Running"
