---
- name: Capture benchmark operator information
  k8s_facts:
    kind: Pod
    api_version: v1
    namespace: '{{ operator_namespace }}'
    label_selectors:
      - name = benchmark-operator
  register: bo

- name: Generate list of database counts
  include_tasks: generate_num_databases.yml

- name: Begin pgbench workloads
  include_tasks: run_workload.yml
  with_items: "{{ num_databases }}"
  loop_control:
    loop_var: dbnum

- k8s_status:
    api_version: ripsaw.cloudbulldozer.io/v1alpha1
    kind: Benchmark
    name: "{{ meta.name }}"
    namespace: "{{ operator_namespace }}"
    status:
      state: Complete
      complete: true


#TODO:
#- database passwords are currently provided in plain text in the CR
#- add database warmup cycle
