---

- name: Get current state
  k8s_facts:
    api_version: ripsaw.cloudbulldozer.io/v1alpha1
    kind: Benchmark
    name: '{{ meta.name }}'
    namespace: '{{ operator_namespace }}'
  register: resource_state

- k8s_status:
    api_version: ripsaw.cloudbulldozer.io/v1alpha1
    kind: Benchmark
    name: "{{ meta.name }}"
    namespace: "{{ operator_namespace }}"
    status:
      state: Starting
      complete: false
  when: resource_state.resources[0].status.state is not defined

- name: Update current state
  k8s_facts:
    api_version: ripsaw.cloudbulldozer.io/v1alpha1
    kind: Benchmark
    name: '{{ meta.name }}'
    namespace: '{{ operator_namespace }}'
  register: resource_state

- block:
  - name: template sysbench script
    k8s:
      definition:
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: 'sysbench-config-{{ trunc_uuid }}'
          namespace: '{{ operator_namespace }}'
        data:
          sysbenchScript: "{{ lookup('template', 'sysbench.sh.j2') }}"

  - name: Start sysbench job
    k8s:
      state: present
      definition: "{{ lookup('template', 'workload.yml') | from_yaml }}"
    when: sysbench.kind is not defined

  - name: Start sysbench vm job
    k8s:
      state: present
      definition: "{{ lookup('template', 'workload_vm.yml') | from_yaml }}"
    when:  sysbench.kind is defined and sysbench.kind == "vm"

  - k8s_status:
      api_version: ripsaw.cloudbulldozer.io/v1alpha1
      kind: Benchmark
      name: "{{ meta.name }}"
      namespace: "{{ operator_namespace }}"
      status:
        state: Running
        complete: false

  when: resource_state.resources[0].status.state == "Starting"

- block:

  - name: Waiting for pods to complete....
    k8s_facts:
      kind: pod
      api_version: v1
      namespace: '{{ operator_namespace }}'
      label_selectors:
        - app = sysbench-{{ trunc_uuid }}
    register: client_pods

  - k8s_status:
      api_version: ripsaw.cloudbulldozer.io/v1alpha1
      kind: Benchmark
      name: "{{ meta.name }}"
      namespace: "{{ operator_namespace }}"
      status:
        state: Complete
        complete: true
    when: "1 == (client_pods|json_query('resources[].status[]')|selectattr('phase','match','Succeeded')|list|length)"

  when: resource_state.resources[0].status.state == "Running"
